%btn {
    display         : flex;
    padding         : 8px 20px;
    margin          : 3px;
    text-decoration : none;
    color           : $text-color; 
    &:hover {
        background-color: $background-green;
        transform : scale(.90);
    }
}

.btn-primary {
    @extend %btn;
}