.Contact {
   background-color : $background-green;
   ul {
       li {
            background-color : $background-green;
       }

            background-color : $background-green;
   } 
   .list-group {
        background-color: $background-green;
   }
   h2 {
       color            : $text-color;
       background-color : $background-green;
   }
   a{
        background-color : $background-green;    
        color            : $text-color;
   }
}