.discover {
    background-color : $background-red;

    h2 {
        color : $primary-color;
    }

    .lead {
        color : $primary-color;
    }
     
    p {
        color : $primary-color;
    }
}