.Hobbies {
    background-color : $background-red;

    img {
        width  : 100%;
        height : 100%;    
    }

    h2 {
        color : $primary-color;
    }

    .lead {
        color : $primary-color;
    }

    p {
        color : $primary-color;
    }
}