.Picture {
   background-color : $background-green; 
    h1 {
        font-size   : 50px;
        line-height : 1.2;
        color       : $text-color;
    }

    p {
        color : $text-color;
    }

    img {
        width  : auto;
        height : auto;
    }

}