@import 'custom';
@import 'Picture';
@import 'navbar';
@import 'discovery';
@import 'team';
@import 'hobbies';
@import 'buttons';
@import 'contact';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
    box-sizing : border-box;
    margin     : 0;
    padding    : 0;
}
.container {
    max-width : 1100px;
    padding   : 0 30px;
    margin    : 0 auto;
    overflow  : auto;
}

body {
    background-color : $primary-color;
    line-height      : 1.6;
}