*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains2.png);
    background-position: center;
    background-size: cover;
    position:relative;
}

.Index{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains4.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #4C566A;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    top: 70%;
    left: 60%;
    transform: translate(-70%,-60%);
    text-align: center;
    position: absolute;
}

.text-box ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.text-box ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 200px;
}

.text-box ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #4C566A;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text_box ul li:hover::after{
    width: 100%;
}

.icon-header{
    top: 15%;
    left: 30%;
    transform: translate(-15%,-30%);
    text-align: center;
    position: absolute;
    color: #fff;
}

.icon-header h1{
    font-weight: 600;
    font-size: 60px;
}

nav .fa{
    display: none;
    position: relative;
    float: right;
}

.image-index{
    background-size: cover;
    height: 480px;
    padding-top:80px;
    position: absolute;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
}

.image-index img{
    height: 300px;
    border-radius: 50%;
    border: 10px solid #4C566A;
}

@media(orientation: landscape) and (max-width: 700px){
    .image-index{
        background-size: cover;
        height: 200px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .image-index img{
        height: 100px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }
    .icon-header{
        top: 10%;
        left: 30%;
        transform: translate(-10%,-30%);
        text-align: center;
        position: absolute;
        color: #fff;
    }

    .icon-header h1{
        font-weight: 600;
        font-size: 20px;
    }
    
    .text-box{
        top: 40%;
        left: 50%;
        transform: translate(-70%,-60%);
        text-align: center;
        position: absolute;
    }
    .text-box ul li a{
        color:#fff;
        font-size: 60px;
    }
    
    html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    }
}

@media(max-width:700px){
    .image-index{
        background-size: cover;
        height: 300px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .image-index img{
        height: 200px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }
    .icon-header{
        top: 5%;
        left: 20%;
        transform: translate(-5%,-20%);
        text-align: center;
        position: absolute;
        color: #fff;
    }
    
    .icon-header h1{
        font-size: 35px;
    }
    
    .text-box{
        height: 600px;
        top: 50;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    } 
    
    .text-box ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .text-box ul li a{
        color:#fff;
        text-decoration: none;
        font-size: 60px;
    }
    
    .nav-links ul li{
        display: block;
    }
    
    .nav-links{
        position: absolute;
        background: #4C566A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:1s;
    }
    
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .nav-links ul{
        padding: 30px;
    }

    html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    }
}

/*--------Contact Page-------------*/
.contact-header{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains2.png);
    background-position: center;
    background-size: cover;
    position:relative;
}

.Contact-page {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains5.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}

.contact-info{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-20%,-40%);
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-size: 50px;
}

.email{
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-35%,-45%);
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-size: 45px;
}

.mobile{
    position: absolute;
    top: 49%;
    left: 52%;
    transform: translate(-49%,-52%);
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-size: 45px;
}

.image-contact{
    background-size: cover;
    height: 480px;
    padding-top:80px;
    position: absolute;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
}

.image-contact img{
    height: 300px;
    border-radius: 50%;
    border: 10px solid #4C566A;
}

@media(orientation: landscape) and (max-width: 700px) {
    .image-contact{
        background-size: cover;
        height: 200px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .image-contact img{
        height: 100px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }

    .contact-info{
        font-size: 20px;
        position: absolute;
        top: 5%;
        left: 35%;
        transform: translate(-10%,-25%);
        align-items: center;
    }
    
    .email{
        position: absolute;
        top: 20%;
        left: 46%;
        transform: translate(-30%,-44%);
        align-items: center;
        font-size: 25px;
    }
    
    .mobile{
        position: absolute;
        top: 45%;
        left: 61%;
        transform: translate(-75%,-66%);
        align-items: center;
       font-size: 25px;
    }

}
@media(max-width:700px){
    .image-contact{
        background-size: cover;
        height: 300px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .image-contact img{
        height: 200px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }
    
    .contact-info{
        font-size: 35px;
        position: absolute;
        top: 10%;
        left: 25%;
        transform: translate(-10%,-25%);
        align-items: center;
    }
    
    .email{
        position: absolute;
        top: 30%;
        left: 44%;
        transform: translate(-30%,-44%);
        align-items: center;
        font-size: 30px;
    }
    
    .mobile{
        position: absolute;
        top: 45%;
        left: 66%;
        transform: translate(-75%,-66%);
        align-items: center;
       font-size: 30px;
    }
}

/*--------About Page-------------*/
.about-header{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains2.png);
    background-position: center;
    background-size: cover;
    position:relative;
}

.About{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Mountains7.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}

.aboutSection {
    width: 80%;
    color:#fff;
    align-items: center;
    margin:auto;
    font-weight: 600;
    padding: 30px 0;
    overflow: hidden;
}

.aboutSection p1{
    width: 100%;
    color:#fff;
    align-items: center;
    margin:auto;
    font-weight: 600;
    padding: 30px 0;
    font-size: 40px
}

.aboutSection h1{
    font-size: 60px;
}

.image-about{
    background-size: cover;
    height: 480px;
    padding-top:80px;
    position: absolute;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
}

.image-about img{
    height: 300px;
    border-radius: 50%;
    border: 10px solid #4C566A;
}

@media(orientation: landscape) and (max-width: 700px){
    .image-about{
        background-size: cover;
        height: 200px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .image-about img{
        height: 100px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }

    .aboutSection {
        color:#fff;
        text-decoration: none;
        font-size: 20px;
        height: 100px;
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translate(-20%,-30%);
        align-items: center;
        overflow:scroll;
    }

    .aboutSection h1{
        font-size: 30px;
    }

    .aboutSection p1{
        width: 100%;
        color:#fff;
        align-items: center;
        margin:auto;
        font-weight: 600;
        padding: 30px 0;
        font-size: 20px
    }

}
@media(max-width:700px){
    .aboutSection {
        color:#fff;
        text-decoration: none;
        font-size: 20px;
        height: 200px;
        position: absolute;
        top: 16%;
        left: 25%;
        transform: translate(-16%,-25%);
        align-items: center;
        overflow:scroll;
    }

    .aboutSection h1{
        font-size: 30px;
    }

    .aboutSection p1{
        width: 100%;
        color:#fff;
        align-items: center;
        margin:auto;
        font-weight: 600;
        padding: 30px 0;
        font-size: 20px
    }

    .image-about{
        background-size: cover;
        height: 300px;
        padding-top:80px;
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .image-about img{
        height: 200px;
        border-radius: 50%;
        border: 10px solid #4C566A;
    }
    .view{
        overflow-y: scroll;
    }
}
